{% if author.matrix %}
<li>
  <a href="https://matrix.to/#/{{ author.matrix }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <img class="custom__url fab fa-fw" src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/matrix.svg" alt="Matrix.org logo" /><span class="label">Matrix</span>
  </a>
</li>
{% endif %}
<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->